.processToolbar {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.tool {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.tool__label {
    font-style: italic;
}

.tool__icon {
    align-self: center;
}

.saveTool__icon {
    cursor: pointer;
    position: relative;
    top: -0.7em;
}

.saveTool--invalid .saveTool__icon {
    color: #ff0000;
    cursor: not-allowed;
}

.saveTool__icon::before {
    font-size: 2em;
    content: '\26BF';
}
