.processToolbar {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.tool {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.tool__label {
    font-style: italic;
}

.tool__icon {
    font-size: 2em;
    align-self: center;
    cursor: pointer;
    position: relative;
    top: -0.333em;
}

.tool--disabled {
    color: #666;
}

.tool--disabled .tool__icon {
    cursor: not-allowed;
}

.tool--invalid .tool__icon {
    color: #ff0000;
    cursor: not-allowed;
}

.tool--save .tool__icon::before {
    content: '\26BF';
}

.tool--undo .tool__icon::before {
    content: '\21BA';
}

.tool--redo .tool__icon::before {
    content: '\21BB';
}
