.validationSummary {
    padding: 1em;
}

.validationSummary__item {
    cursor: pointer;
}

.validationSummary__item:not(:first-child) {
    border-top: solid grey 1px;
    padding-top: 0.5em;
}

.validationSummary__item:not(:last-child) {
    padding-bottom: 0.5em;
}

.validationSummary__item:hover {
    color: red;
}