.processListItem {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.5em;
    border-radius: 0.5em;
    padding: 0;

    background-color: #ccc;
    cursor: move;
    user-select: none;
    overflow: hidden;
}

.processFolder .processListItem:first-child {
    margin-top: 0.1em;
}

.processListItem--system .processListItem__name {
    background-color: #cc8800;
}

.processListItem--user .processListItem__name {
    background-color: #00aaaa;
    cursor: pointer;
}

.processListItem--open {
    box-shadow: 0 0 1pt 2pt #000;
}

.processListItem--open .processListItem__name {
    cursor: not-allowed;
}

.processListItem__name {
    font-weight: bold;
    color: white;
    padding: 0.2em 0.2em 0.2em 0.5em;
    text-shadow: 0px 0px 4px black;
}

.processListItem__desc {
    font-size: 0.9em;
    padding: 0.2em;
}

.processListItem--invalid {
    background-color: #fcc;
}

.processListItem--invalid .processListItem__name {
    color: #f00;
    text-shadow: 0px 0px 4px white;
}

.processListItem--invalid .processListItem__name::after {
    content: ' !!';
}

.processListItem__editLink {
    display: none;
    position: absolute;
    right: 0.4em;
    bottom: 0.05em;
    padding: 0.1em;
    background-color: #ccc;
    cursor: pointer;
}

.processListItem:hover .processListItem__editLink {
    display: initial;
}