.processListItem {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.5em 0.1em;
    cursor: move;
    user-select: none;
    overflow: hidden;
}

.processListItem__header {
    font-weight: bold;
    font-size: 1.1em;
    height: 1.4em;
    border-radius: 1em;
    padding-left: 0.5rem;
    color: white;
    text-shadow: 0px 0px 4px black;

    display: flex;
}

.processListItem__name {
    flex-grow: 1;
}

.processListItem__desc {
    font-size: 0.95em;
    padding-left: 0.5rem;
}

.processListItem--system .processListItem__header {
    background-color: #cc8800;
}

.processListItem--user .processListItem__header {
    background-color: #00aaaa;
}

.processListItem:hover .processListItem__header {
    color: white;
    text-shadow: 0px 0px 4px black, 0px 0px 4px black, 0px 0px 2px black;
}

.processListItem--invalid .processListItem__header::after {
    content: '!';
    color: #f00;
    margin-right: 0.5em;
}

.processListItem--open .processListItem__header::after {
    content: '\279C';
    margin-right: 0.3em;
}

/*
.processListItem__editLink {
    display: none;
    position: absolute;
    right: 0.4em;
    bottom: 0.05em;
    padding: 0.1em;
    background-color: #ccc;
    cursor: pointer;
}

.processListItem:hover .processListItem__editLink {
    display: initial;
}
*/