.toolboxItem {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.5em 0.1em;
    cursor: move;
    user-select: none;
    overflow: hidden;
}

.toolboxItem__header {
    font-size: 1.1em;
    height: 1.4em;
    border-radius: 1em;
    padding-left: 0.5rem;
    color: white;
    text-shadow: 0px 0px 4px black;
    display: flex;
}

.toolboxItem__name {
    font-weight: bold;
}

.toolboxItem:not(.toolboxItem--subname) .toolboxItem__name {
    flex-grow: 1;
}

.toolboxItem__subname {
    margin-left: 0.5em;
    flex-grow: 1;
}

.toolboxItem__subname::before {
    content: '(';
}

.toolboxItem__subname::after {
    content: ')';
}

.toolboxItem__desc {
    font-size: 0.95em;
    padding-left: 0.5rem;
}

.toolboxItem--system .toolboxItem__header {
    background-color: #cc8800;
}

.toolboxItem--user .toolboxItem__header {
    background-color: #00aaaa;
}

.toolboxItem--stop .toolboxItem__header {
    background-color: #ff0000;
}

.toolboxItem:hover .toolboxItem__header {
    color: white;
    text-shadow: 0px 0px 4px black, 0px 0px 4px black, 0px 0px 2px black;
}

.toolboxItem--invalid .toolboxItem__header::after {
    content: '!';
    color: #f00;
    text-shadow: 0px 0px 4px white;
    margin-right: 0.5em;
}

.toolboxItem--open .toolboxItem__header::after {
    content: '\279C';
    margin-right: 0.3em;
}

.toolboxItem--user:not(.toolboxItem--open) > .toolboxItem__header {
    cursor: pointer;
}

/*
.toolboxItem__editLink {
    display: none;
    position: absolute;
    right: 0.4em;
    bottom: 0.05em;
    padding: 0.1em;
    background-color: #ccc;
    cursor: pointer;
}

.toolboxItem:hover .toolboxItem__editLink {
    display: initial;
}
*/