.parameter {
    display: flex;
    justify-content: flex-start;
    font-size: 0.9em;
}

.parameter--output {
    flex-direction: row-reverse;
}

.parameter__connector {
    width: 1.3em;
    top: -0.2em;
}

.parameter__fixedValue {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    margin-right: -0.5em;
}

.parameter__fixedValueMeasure {
    white-space: pre;
    font-size: 1em;
    font-family: sans-serif;
    border-width: 1px;
    padding-right: 0.2em;

    height: 1px;
    overflow: hidden;
}

.parameter__fixedValueInput {
    border: solid 1px #999999;
    font-size: 1em;
    font-family: sans-serif;
    background-color: transparent;
}

.parameter--fixed .parameter__fixedValueInput {
    border-color: white;
}

.parameter--fixed .parameter__fixedValueInput--invalid {
    color: #660000;
    border-color: red;
}