.processEditor {
    display: grid;
    grid-template-columns: 12em 1fr;
    grid-template-rows: 3em 1fr;
    grid-template-areas:
        "sidebar toolbar"
        "sidebar content";
}

.processEditor__sidebar {
    grid-area: sidebar;
}

.processEditor__toolbar {
    grid-area: toolbar;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.processEditor__content {
    grid-area: content;
}

.tool {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.tool__label {
    font-style: italic;
}

.tool__icon {
    align-self: center;
}

.stopStepTool__icon {
    position: relative;
    top: -1.2em;
    cursor: move;
    color: #801a1a;
}

.stopStepTool--active .stopStepTool__icon {
    color: #ff3333;
}

.stopStepTool__icon::before {
    font-size: 3em;
    content: '\25A0';
}

.binTool__icon {
    position: relative;
    top: -0.7em;
    color: #666666;
}

.binTool--active .binTool__icon {
    cursor: pointer;
    color: #dd0000;
}

.binTool__icon::before {
    font-size: 2em;
    content: '\2672';
}

.saveTool__icon {
    cursor: pointer;
    position: relative;
    top: -0.7em;
}

.saveTool--invalid .saveTool__icon {
    color: #ff0000;
}

.saveTool__icon::before {
    font-size: 2em;
    content: '\26BF';
}
