.processContent {
    position: relative;
    overflow: auto;

    background-color: #fafafa;
    background-image: url('grid.png');
}

.processContent__canvas {
    position: absolute;
    top: 0; left: 0;
}