.variable {
    position: absolute;
    background-color: #cccccc;
    border-radius: 0.5em;
    display: flex;
}

.variable__connector {
    width: 1em;
}

.variable__name {
    cursor: move;
    user-select: none;
    color: white;
    padding: 0.2em 0.5em;
    text-shadow: 0px 0px 4px black;
}