.valueInput {
    display: flex;
    padding: 0;
}

.valueInput__input {
    border: none;
    border-top: solid black 1px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 0.2em;
    text-align: center;
}

.valueInput--noValue > .valueInput__input {
    background-color: transparent;
}

.valueInput--invalid > .valueInput__input {
    color: red;
}