.variable {
    position: absolute;
    background-color: #cccccc;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: solid black 1px;
    user-select: none;
    overflow: hidden;
}

.variable__name {
    cursor: move;
    user-select: none;
    color: white;
    padding: 0.2em;
    font-weight: bold;
    text-shadow: 0px 0px 4px black;
    border-bottom: solid black 1px;
    text-align: center;
    height: 25px;
}

.variable__connector {
    height: 25px;
}

.variable__default {
    height: 25px;
}