.parametersEditor {
    display: flex;
    flex-direction: column;
    min-width: 13em;
}

.parametersEditor--invalid {
    color: red;
}

.parametersEditor__prompt {
    font-style: italic;
    margin-left: 0.3em;
}