.signatureEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signatureEditor__footer {
    margin-top: 2em;
    height: 20em; /* this is just to force the signature display closer to the top on a large screen. Probably a dumb approach. */

    display: flex;
    align-items: flex-start;
}